<div class="container mt-3 justify-content-between">
  <h2 class="my-4">Sign up</h2>
  <div class="sub-container d-flex justify-content-between">
    <div class="sigin-form col-12 col-md-5">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :full_name,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Enter your name", class:"mb-3" }%>
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Choose a username", class:"mb-3" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", placeholder: "Type your email", class:"mb-3" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", placeholder: "Type your password", class:"mb-3" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password", placeholder: "Confirm your password", class:"mb-3" } %>
        </div>

        <div class="form-actions mt-4 d-flex justify-content-between col-12 ">
          <%= render "devise/shared/links" %>
          <%= f.button :submit, "Sign up", class: "btn btn-success text-white px-4 mt-3" %>
        <% end %>
        </div>
    </div>
    <div class="sigin-img col-5 m-4">
      <%= image_tag "kisspng-mandy-grim-cartoon-network-5af47b3eaca238.9307761115259717747071.png", alt: "Desenho animado", class: "rick-img"%>
    </div>
  </div>

</div>
