<div class="container mt-3 justify-content-between">
  <h2 class="my-4">Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs col-6">
      <%= f.input :full_name,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "Enter your name", class:"mb-3" }%>
      <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { placeholder: "Choose a username", class:"mb-3" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", placeholder: "Type your email", class:"mb-3" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password", placeholder: "Type your password", class:"mb-3" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password", placeholder: "Confirm your password", class:"mb-3" } %>
    </div>

    <div class="form-actions mt-4 d-flex justify-content-evenly col-6">
      <%= render "devise/shared/links" %>
      <%= f.button :submit, "Sign up", class: "btn bg-success text-white ms-2 px-4" %>
    </div>
  <% end %>

</div>
