<div class="navbar navbar-expand-sm navbar-dark bg-orange navbar-lewagon">
  <div class="container-fluid">
    <div>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logotipo_bnb.png", style: "width: 150px; height: auto;" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">

      <div class="">
        <%= simple_form_for :search, url: places_path, method: :get, class: 'd-flex align-items-center ' do |f| %>
          <div class="row g-2 ">
            <div class="col-auto ">
              <%= f.input :query, label: false, placeholder: 'Search', input_html: { class: 'form-control' }, wrapper_html: {class: 'm-0'} %>
            </div>
              <div class="col-auto"> <!-- Second column for search button -->
              <%= f.button :submit, 'Search', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <ul class="navbar-nav me-auto">

          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to "About us", about_us_path, class: "nav-link" %>
          </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp8642669.jpg&f=1&nofb=1&ipt=bf1b22e704b9fa927b2b97005e2c288bb72dc01525a3a981cf4e544a267b7d4f&ipo=images", class: "avatar me-2", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", users_show_path, class: "dropdown-item" %>
              <%= link_to "My orders", orders_path, class: "dropdown-item" %>
              <%= link_to "My places", my_places_path, class: "dropdown-item" %>
              <%= link_to "Add place", new_place_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <div class="d-flex align-items-center">
            <li class="nav-item me-2">
              <%= link_to "Login", new_user_session_path, class: "nav-link bg-primary text-white ms-2" %>
            </li>
          </div>
        <% end %>
      </ul>


    </div>
  </div>
</div>
