<%= simple_form_for([@place]) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="mx-auto col-10 col-md-8 col-lg-6 p-4">
        <%= f.input :name, as: :string, input_html: { placeholder: "Enter your place's name", class:"mb-3" } %>
        <%= f.input :address, as: :text, input_html: { placeholder: "Place's address", class:"mb-3" } %>
        <%= f.input :number_of_guests, as: :integer, input_html: { placeholder: "How many guests?", class:"mb-3" } %>
        <%= f.input :description, as: :text, input_html: { placeholder: "Describe your place here", class:"mb-3" } %>
        <%= f.input :picture_url, as: :url, input_html: { class:"mb-3" } %>
        <%= f.input :price, as: :float, input_html: { class:"mb-3" } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
  <br>
    <div class="row text-center">
      <div class="mx-auto col-10 col-md-8 col-lg-6">
        <%= f.button :submit, "Create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
