<div class="">
  <div class="d-flex justify-content-center">
    <div class="card col-lg-6 my-3 ms-4">
      <%= image_tag("#{@place.picture_url}") %>
      <div class="card-body">
        <h3 class="text-center"><%= @place.name %></h3>
        <p class="card-text"><%= @place.description%>, localized at <%= @place.address %></p>
        <p class="card-text">Accommodates up to <%= @place.number_of_guests %> guests</p>
        <p class="card-text"><%= @place.price %> US$/night</p>
        <p class="card-text">Hosted by <%= @place.user.email %></p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="d-flex flex-column col-lg-4 px-3 my-3">
      <%= link_to 'Back', places_path, class: 'btn btn-primary mb-3 p-3' %>
      <%= link_to 'Rent', new_place_order_path(@place), class: 'btn btn-primary mb-3 p-3' %>
      <div class="">
    </div>
  </div>
</div>
